<div style="text-align:center">
  <h1>
    Scrum board
  </h1>
  <hr />
  <table border=1>
    <thead>
      <tr>
        <td class="no-border no-border-top border-bottom">story</td>
        <td class="no-border-top border-bottom">not started</td>
        <td class="no-border-top border-bottom">in progress</td>
        <td class="no-border-top border-bottom">done</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let story of stories">
        <td class="no-border no-border-top">
          <app-story></app-story>
        </td>
        <td class="no-border-top">
          <div *ngFor="let task of story.tasks">
            <app-task *ngIf="task.state == 'not-started'"></app-task>
          </div>
        </td>
        <td class="no-border-top">
          <div *ngFor="let task of story.tasks">
            <app-task *ngIf="task.state == 'in-progress'"></app-task>
          </div>
        </td>
        <td class="no-border-top">
          <div *ngFor="let task of story.tasks">
            <app-task *ngIf="task.state == 'done'"></app-task>
          </div>
        </td>
      </tr>
      <!-- <tr>
        <td class="no-border no-border-top">
          <app-story></app-story>
        </td>
        <td class="no-border-top">
          <app-task></app-task>
        </td>
        <td class="no-border-top"></td>
        <td class="no-border-top"></td>
      </tr> -->
    </tbody>
  </table>
</div>