<div style="text-align:center">
  <h1>
    Scrum board
  </h1>
  <hr />
  <table border=1>
    <thead>
      <tr>
        <td class="no-border no-border-top border-bottom">story</td>
        <td class="no-border-top border-bottom">not started</td>
        <td class="no-border-top border-bottom">in progress</td>
        <td class="no-border-top border-bottom">done</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let story of stories">
        <td class="no-border no-border-top">
          <app-story id="{{story.id}}" name="{{story.name}}"></app-story>
        </td>
        <td class="no-border-top">
          <div *ngFor="let task of story.tasks">
            <app-task *ngIf="task.state == 'not-started'" id="{{task.id}}" name="{{task.name}}" (click)="log(task)"></app-task>
          </div>
        </td>
        <td class="no-border-top">
          <div *ngFor="let task of story.tasks">
            <app-task *ngIf="task.state == 'in-progress'" id="{{task.id}}" name="{{task.name}}" (click)="log(task)"></app-task>
          </div>
        </td>
        <td class="no-border-top">
          <div *ngFor="let task of story.tasks">
            <app-task *ngIf="task.state == 'done'" id="{{task.id}}" name="{{task.name}}" (click)="log(task)"></app-task>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <p>id: {{chosenTask.id}}</p>
  <p>name: {{chosenTask.name}}</p>
  <p>state: {{chosenTask.state}}</p>
  <button *ngIf="chosenTask.state == 'not-started'">Move to in progress</button>
  <button *ngIf="chosenTask.state == 'in-progress'">Move to done</button>
</div>